@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;500&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  max-width: 1300px;
  background-color: #1d0bf7;
  color: #ffffff;
}

.header {
  border-bottom: #ffffff;
  border-bottom-width: thick;
}

header .homeLink {
  font-size: 20px;
  font-weight: bold;
}

header a {
  color: #ffffff;
}

header img {
  width: 50px;
  align-self: center;
  align-content: center;
  align-items: center;
  padding: 5px;
}

.logo {
  display: flex;
  align-self: center;
}

.logo a {
  align-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: #ffffff;
  border-bottom-width: 5px;
}

.header .weirdSymbol {
  align-self: center;
}

.advantages {
  color: #ffffff;
  display: flex;
}

.advantages img {
  width: 15px;
  height: 15px;
  align-items: center;
  align-self: center;
}

.advantages p {
  padding: 15px;
}

header a {
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

main {
  margin-top: 15%;
}

main input {
  width: 65%;
  height: 45px;
  background-color: #5244f6;
  border-width: 0px;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
}

main button {
  width: 25%;
  height: 47px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

main .subtitle1 {
  font-size: 50px;
  max-width: 450px;
}

main .subtitle2 {
  font-size: 15px;
  max-width: 450px;
}

main .login {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
}

main .graphic img {
  height: 80%;
  margin-left: 55%;
}

.main-content {
  display: grid;
  align-content: space-between;
}

.navbar {
  border-radius: 2px;
  max-width: 800px;
  display: flex;
  align-self: center;
}

.navbar p {
  margin: auto;
  max-width: 800px;
}

.navbar a {
  font-weight: lighter;
}

.navbar a:hover {
  color: #ffffff;
}
